
*{
   
	box-sizing: border-box;
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;

}

html,body{
	height: 100%;

}

a,button{
	cursor: pointer;
}
body{
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0 24px;
	
	background-repeat: no-repeat;
	background-size: cover;
	animation:  pan 6s infinite alternate linear;
}

.imglogo{
	width: 150px;
	display:flex;
	margin:auto;
}

.imgpokeball{
	width: 200px;
	display:flex;
	margin:auto;
}

.searchPokemon{
	width: 100%;
	
}

.text{
	text-align: center;
}
.caja{
	font: inherit;
  padding: 0.5em 0.9em;
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
  text-align: center;
}



/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}